@model List<Pelicula>;

<h1>Peliculas</h1>
<h2>Top 3 de Mejores Peliculas del año 1200 a.C.</h2>

<table class="table table-hover">
	<thead>
		<tr>
			<td>Titulo</td>
			<td>Año salida</td>
			<td>Duracion</td>
		</tr>
	</thead>

@{
	foreach(Pelicula pelicula in @Model)
	{
		<tr>
			<td>@pelicula.titulo</td>
			<td>@pelicula.año_salida</td>
			<td>@pelicula.duracion</td>
		</tr>
	}
}
</table>
