@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form action="Home/Imc" method="post" >
    <label>Inserte su Edad</label>
    <input type="text" name="edad" />
    <label>Inserte su Peso</label>
    <input type="text" name="peso"/>
    <label>Inserte su Estatura</label>
    <input type="text" name="estatura" />
    <input type="submit" />
</form>

